__pycache__/
/grammar.bin
/unimacro_test/*.pyc
*.bak
/unimacro_test/testresult.txt
/_number extended.py
/_repeat.py
.vscode/launch.json
/dist
/configurenatlink_error.txt
/README.html
/src/unimacro/grammar.bin
